li {
    padding-left: 5vw;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.container .gallery{
    display: flex;
    justify-content: center;
    align-content: space-between;
}


.fixed-left{
    position: fixed;
    margin-top: 50vh;
    
}

footer a{
    list-style: none;
    margin-top: 20px;
    color: black;
}
