.eventsjumb{
    position: relative;
    height: 40%;
}


.headerimg {
    opacity: 0.5;
    position: relative;
    /*position: absolute;
    top: 0%;*/
}

.eventbox {
   position: absolute;
   top: 50%;
   transform: translate(0%,-50%);

}

 
